.board {
	display : grid;
	grid-template-rows : 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding : 0.6vh;
	flex-grow: 1;
}

.tileContainer {
	display: flex;
	position: relative;
	aspect-ratio: 1;
}

.tile {
	display: flex;
	flex-grow : 1;
	border: 1px solid black;
	/* aspect-ratio: 1; */
	align-items: center;
	justify-content: center;
	/* width: 100%;
	height: 100%; */
}

.minusRightBorder {
	border-right: solid 1px rgba(0,0,0,0);
}
.minusLeftBorder {
	border-left : solid 1px rgba(0,0,0,0);
}
.minusTopBorder {
	border-top : solid 1px rgba(0,0,0,0);
}
.minusBottomBorder {
	border-bottom : solid 1px rgba(0,0,0,0);
}

.piece {
	margin: 10%;
	border-radius: 35%;
	flex-grow: 1;
	aspect-ratio: 1;
}